@model regMVC.Models.CajaViewModel

@{
    ViewBag.Title = "Venta";
}

<head>
    <style>
        .body1 {
            background-color: rgba(30, 30, 30, 0.90);
        }

        h2 {
            color: antiquewhite;
        }

        p {
            color: rgb(196, 196, 196);
        }

        .form-group {
            color: rgb(196, 196, 196);
        }

        .btn, .btn-default {
            background-color: rgba(3, 169, 244, 0.68);
            padding: 5px 10px;
            text-decoration: none;
            color: antiquewhite;
            letter-spacing: 2px;
            font-size: 13px;
        }

        .btn:before, btn-default:before {
            content: '';
            width: 100%;
            height: 100%;
            background: #03a9f4;
            z-index: -1;
            transition: transform 0.5s;
            transform-origin: bottom right;
            transform: scale(0);
        }

        .btn:hover:before, btn-default:hover:before {
            transition: transform 0.5s;
            transform-origin: top left;
            transform: scale(1);
        }

        .btn1, .btn-default1 {
            background-color: rgba(255, 109, 0, 0.85);
            padding: 5px 10px;
            text-decoration: none;
            color: antiquewhite;
            letter-spacing: 2px;
            font-size: 13px;
            border-radius:3px;
        }

        .btn1:before, btn-default1:before {
            content: '';
            width: 100%;
            height: 100%;
            background: #03a9f4;
            z-index: -1;
            transition: transform 0.5s;
            transform-origin: bottom right;
            transform: scale(0);
        }

        .btn1:hover:before, btn-default1:hover:before {
            transition: transform 0.5s;
            transform-origin: top left;
            transform: scale(1);
        }
    </style>
</head>

<body class="body1">
    <h2>Vender producto</h2>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(model => model.nombre, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.nombre, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.nombre, "", new { @class = "text-danger" })
                </div>
            </div>

            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(model => model.codigo_prod, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.codigo_prod, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.codigo_prod, "", new { @class = "text-danger" })
                </div>
            </div>

            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(model => model.precio_venta, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.precio_venta, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.precio_venta, "", new { @class = "text-danger" })
                </div>
            </div>

            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(model => model.cant_prod_mostrador, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.cant_prod_mostrador, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.cant_prod_mostrador, "", new { @class = "text-danger" })
                </div>
            </div>

            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(model => model.cantidad_vendida, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.cantidad_vendida, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.cantidad_vendida, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Vender" class="btn1 btn-default1" />
                </div>
            </div>

        </div>
    }

    <div align="right">
        <a class="btn btn-default" href="~/caja/ProdOnMostrador">&laquo; Regresar</a>
    </div>
</body>